.special-event-name {
    font-size: 120%;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
}

.event-types:not(.special-event-name + .event-types){
    font-style: italic;
    font-weight: bolder;
}

.event-date {
    color: #2c1919;
}

.event-short-desc {
    margin-left: 2.5em;
}

.event-listing {
    margin-block-end: 1.5em;
}

.canceled-event, .canceled-event *:not(a){
    text-decoration: line-through;
    color: #990707;
    font-style: italic;
}

.event-listing .more-info-link {
    font-style: italic;
}

.event-photos-collage {
    display: grid;
    grid-template-columns: repeat(var(--data-collage-width), 1fr);
    grid-template-rows: repeat(var(--data-collage-width), 1fr);
}

.event-image {
    height: 5em;
    width: 5em;
}

.event-listing:not(.has-photo) {
    max-width: 80%;
}

.event-listing .event-image {
    flex: 0 0 50%;
}
