These are the BACDS dances for the week of <% today_str %>:

<% INCLUDE "dancefinder/listings-text.tt" %>

You are receiving this email because you are a member of the
bacds-announce mailing list. To unsubscribe click on the link at the
bottom of this message.
